<!-- landingPage.html -->
<div id="landingPage">
    <!-- Header -->
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Will Gu</h1>
                        <h3>iOS Developer - Web Developer - Idea Catalyst</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a target="_blank" href="https://twitter.com/willgu29" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://github.com/willgu29" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <li>
                                <a target="_blank" href="https://linkedin.com/in/willgu29" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li>
                        </ul>
      <br>
      <ul class="list-inline intro-social-buttons">
          <li>
        <a target="_blank" href="http://bruinappbuilders.com" class="btn btn-default btn-lg"><i class="fa fa-code fa-fw"></i> <span class="network-name">Current Project</span></a>
          <li>
      </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

  <a  name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">About me:<br></h2>
                    <p class="lead">Hi my name is Will Gu and I have a passion for exploring different mediums of creative work. If you're interested in making an iOS app, website, or collaborating on the next big idea, feel free to <a href=#contact>contact me</a>.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/imgs/ipad.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

    <div class="content-section-b">
  <a name="services" ></a>
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Rethink work:</h2>
                    <p class="lead">I aim to make the most robust apps and websites when I work. I believe in shipping products fast and making sure those products are of high quality. Head over to <a href="https://linkedin.com/in/willgu29/">linkedin</a> to see my qualifications or <a href="https://github.com/willgu29/">github</a> for project examples. Stayed updated with tech, startups, and my personal projects by following me on <a href="https://twitter.com/willgu29">twitter</a>. Let me know how I can help you!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="/imgs/dog.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">
  <a name="contact" ></a>
        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Start something new:</h2>
                    <p id=#contact class="lead">Phone: 603-275-6869 <br>Email: willgu28@gmail.com</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/imgs/phones.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a target="_blank" href="https://twitter.com/willgu29" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://github.com/willgu29" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a target="_blank" href="https://linkedin.com/in/willgu29" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
</div>




