<div id="projects">

	<br />
	<br />
	<br />
	<br />
	<br />

	<ul>
		<li>iOS Projects
			<ul>
				<li><a target="_blank" href="https://itunes.apple.com/us/app/picto-for-instagram/id933093620?ls=1&mt=8">Picto -for Instagram</a></li>
				<li><a target="_blank" href="http://tupleapp.com">Tuple</a></li>
				<li><a target="_blank" href="http://startruntest.com">Peek</a></li>
			</ul>
		</li>
		<li>Selected Opinions
			<ul>
				<li><a target="_blank" href="http://gustudios.com/blog/6-thoughts-on-time-management/">6 Thoughts on Time Management</a></li>
				<li><a target="_blank" href="http://gustudios.com/blog/how-the-do-i-start-coding-cool-stuff/">How the **** Do I Start Coding Cool Stuff</a></li>
				<li><a target="_blank" href="http://gustudios.com/blog/fundamentals-of-happiness-and-theory/">Fundamentals of Happiness and Theory</a></li>
			</ul>
		</li>
		<li>Selected Poems
			<ul>
				<li><a target="_blank" href="http://willguwrites.com/2014/12/20/unknown/">Unknown</a></li>
				<li><a target="_blank" href="https://willguwrites.com/2015/03/07/but-here-i-am/">But Here I Am</a></li>
				<li><a target="_blank" href="http://willguwrites.com/2015/06/23/paradox/">Paradox</a></li>

			</ul>

		</li>
	

	</ul>

</div>
